html,body{
    width: 100%;
}

body{
    font-family: Arial;
}

.header{
    max-width: 1280px;
    min-height: 323px;
    margin: 0 auto;
    background-color: #445162;
    display: flex;
}

.navigation{
    width: 50%;
    padding-left: 50px;
}

.navigation-name{
    font-size: 60px;
    line-height: .9;
    font-weight: 400;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    color: #ffffff;
}

.navigation-links{

}


.navigation-links__item{
    list-style-type: none;
}

.navigation-links__item_link:hover{
    color: cornflowerblue;
    border-bottom: 2px solid cornflowerblue;
}

ul{
    list-style-image: url("../images3/check_icon_346.png");
}

.navigation-links__item_link{
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    color: #ffffff;
    text-decoration: none;
}


.header-photo{
    width: 469px;
    height: 214px;
    margin: 50px;
}




.main{
    width: 1280px;
    margin: 0 auto;
}

.main-presentation{
    min-height: 350px;
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
    box-sizing: border-box;
}

.presentation-block{
    width: 700px;
    height: 100%;
}

.presentation-block__heading{
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    margin: 35px 0;
}

.presentation-block__text{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

.presentation-image{
    width: 430px;
    height: 245px;
    margin: 40px 0;
}

.presentation-image__figcaption{
    color: cadetblue;
    font-weight: 600;
}

.main-dignities{
    width: 100%;
    background-color: #f5f5f5;
    padding: 10px 50px 50px;
    box-sizing: border-box;
}

.dignities-heading{
    width: 360px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    margin: 30px auto;
}

.dignities-box{
    display: flex;
}

.dignities-box-1{
    width: 50%;
}

.dignities-box-1__details{
    width: 540px;
    margin: 0 0 10px 40px;
    position: relative;
    cursor: pointer;
}

.dignities-box-1__summary{
    width: 540px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

.dignities-box-1__summary{
    list-style-type: none;
}

.dignities-box-1__summary::-webkit-details-marker{
    display: none;
}

.dignities-box-1__details:before{
    width: 30px;
    height: 28px;
    content: url("../images3/layer_2_30.png");
    background-color: #445161;
    position: absolute;
    left: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
}

.dignities-box-1__details[open]:before{
    content: url("../images3/layer_2_30-m.png");
}

.main-screenshots{
    width: 100%;
    height: 470px;
    box-sizing: border-box;
}

.screenshots-heading{
    width: 175px;
    margin: 50px auto 40px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
}

.screenshots-box{
    padding: 0 50px;
    display: flex;
}

.screenshots-box-1{
    width: 50%;
}

.screenshots-article{
    display: flex;
    margin-bottom: 30px;
}

.screenshots-article__image{
    width: 200px;
    height: 150px;
}

.screenshots-information{
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.screenshots-information__heading{
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #445161;
    margin: 0;
}

.screenshots-information__text{
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #333333;
    margin: 0;
}


.main-reviews{
    width: 100%;
    height: 430px;
    background-color: #f5f5f5;
    box-sizing: border-box;
}

.reviews-heading{
    width: 115px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    margin: 0 auto;
    padding: 50px 0 25px;
}

.reviews-box{
    padding: 0 50px;
    display: flex;
}

.reviews-box-1{
    width: 50%;
}

.reviews-information{
    display: flex;
    margin-bottom: 30px;
}

.reviews-information__btn{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: none;
    background-color: #445161;
    background-image: url("../images3/Clock_simple.png");
    cursor: pointer;
    position: relative;
}

.reviews-information__btn:hover{
    background-color: cornflowerblue;
}

.reviews-information__btn:active{
    top: 1px;
    left: 1px;
}

.information-text{
    width: 483px;
    height: 125px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-image: url("../images3/bg_review_190.png");
}

.information-text__text-1{
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    font-style: italic;
    color: #333333;
    margin: 10px 10px 10px 20px;
}

.information-text__text-2{
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #989898;
    margin: 10px 10px 10px 20px;
}

.main-buy-now{
    width: 100%;
    padding-bottom: 50px;
}

.buy-now-heading{
    width: 140px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    margin: 40px auto;
}

.buy-now-box{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 145px;
}

.buy-now-article{
    width: 300px;
    display: flex;
    background-color: #445162;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.article-heading{
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #ffffff;
    margin: 0 auto;
}

.box-article-1{
    height: 306px;
}

.box-article-2{
    height: 404px;
}

.box-article-3{
    height: 499px;
}

.article-price{
    width: 98%;
    font-size: 40px;
    line-height: 30px;
    font-weight: 400;
    color: #445162;
    text-align: center;
    background-color: white;
    margin: 10px auto;
    padding: 15px 0;
}

.article-list{
    width: 100%;
    padding-left: 70px;
}


.article-list__item{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    margin: 0;

}

.buy-now-article__btn{
    width: 260px;
    height: 40px;
    background-color: white;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #445161;
    margin-bottom: 20px;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid black;
    box-shadow: 0 2px 5px 0 rgba(33,33,33,0.34);
    position: relative;
}

.buy-now-article__btn:hover{
    color: cornflowerblue;
}

.buy-now-article__btn:active{
    top: 1px;
    left: 1px;
}

.footer{
    width: 1280px;
    height: 509px;
    background-color: #445162;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.footer-heading{
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
    margin: 40px auto 20px;
}

.footer-section{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.footer-container-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-form{
    display: flex;
    flex-direction: column;
}

.footer-form__text-1{
    width: 500px;
    height: 40px;
    background-color: #ffffff;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
}

.footer-form__text-1::placeholder {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #445162;
}

.footer-form__email{
    width: 500px;
    height: 40px;
    background-color: #ffffff;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
}

.footer-form__email::placeholder{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #445162;
}

.footer-form__text-2{
    width: 500px;
    height: 170px;
    background-color: #ffffff;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 10px;
}

.footer-form__text-2::placeholder{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #445162;
}

.footer-form__btn{
    width: 140px;
    height: 40px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #445162;
    border-radius: 10px;
    margin: 0 auto;
    border: 1px solid black;
    box-shadow: 0 2px 5px 0 rgba(33,33,33,0.34);
    position: relative;
    cursor: pointer;
}

.footer-form__btn:hover {
    color: cornflowerblue;
}

.footer-form__btn:active{
    top: 1px;
    left: 1px;
}

.footer-container-2{
    margin-left: 45px;
}

.footer-container-2__contacts{
    height: 35px;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.footer-container-2__contacts:hover{
    color: lightskyblue;
}

.footer-container-2__contacts_img{
    width: 24px;
    height: 24px;
    margin: 0 4px;
}

.footer-container-2__contacts{

}

.footer-social{
}

.footer-social__btn{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    position: relative;
    color: #445162;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
}

.footer-social__btn:hover{
    color: cornflowerblue;
}

.footer-social__btn:active{
    top: 1px;
    left: 1px;
}