*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    width: 600px;
    height: 975px;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, .6) 0%, rgba(250, 250, 250, .6) 100%);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 5vh 2vw;
}
.header{
    width: 100%;
    height: 30%;
    border: 1px solid black;
}
.today-info{
    width: 100%;

}


.calendar{
    width: 100%;
    height: 70%;
    border: 1px solid black;
    padding: 10px;
}
.month{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border: 1px solid black;
    background: rgba(240, 255, 255, .2);
}
.month__btn{
    width: 65px;
    height: 100%;
    font-size: 60px;
    background: none;
    border: none;
    cursor: pointer;
}
.month-name{
    font-size: 40px;
    font-weight: bold;
    font-family: "Calibri Light";
    font-style: italic;
}

.week-days{
    width: 100%;
    height: 10%;
    border: 1px solid black;
    margin-top: 10px;
}
.days{
    width: 100%;
    height: 100%;
    text-align: center;
    border-collapse: collapse;
}
.days-str__name{
    width: calc(100% / 7);
    border: 1px solid black;
    font-size: 32px;
    font-weight: bold;
}
.days-str__name_weekend{
    color: darkred;
}
.numbers{
    width: 100%;
    height: 90%;
    border-collapse: collapse;
    text-align: center;
}
.numbers-str{
    height: 80px;
}
.cell{
    border: 1px solid black;
    font-size: 32px;
    font-weight: bold;
    font-style: italic;
    font-family: "Calibri Light";
}
.cell_weekend{
    color: darkred;
}
.cell-today{
    background: rgba(0, 0, 0, .2);
}